@import '../../assets/base.scss';
#login {
    font-family: $font;
    min-width: 250px;
    .x-header {
        background: $bcolor3;
        color: #fff;
        padding: 30px 0 10px 0;
        .header-inner {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            >.logo {
                font-size: 40px;
                font-weight: bold;
            }
            >.login-title {
                font-size: 16px;
                display: flex;
                margin-left: 5px;
                padding-left: 5px;
                border-left: 1px solid #fff;
            }
        }
    }
    .x-content {
        .content-inner {
            width: 80%;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >.form-row {
                margin: 20px auto;
                width: 80%;
                >p {
                    margin: 5px 0;
                    font-weight: bold;
                }
                >.x-input {
                    width: 100%;
                }
            }
            >p {
                text-align: center;
                font-size: 12px;
                >span {
                    color: $bcolor5;
                    cursor: pointer;
                    &:hover {
                        color: $bcolor3;
                    }
                }
            }
        }
    }
    .x-footer {
        background: $bcolor5;
        color: $txtcolor2;
        font-size: 12px;
        padding: 16px 0;
        p {
            text-align: center;
        }
    }
}