@import '../../assets/base.scss';
#register {
    font-family: $font;
    min-width: 250px;
    .x-content {
        .content-inner {
            width: 80%;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >.form-row {
                margin: 20px auto;
                width: 80%;
                >p {
                    margin: 5px 0;
                    font-weight: bold;
                }
                >.x-input {
                    width: 100%;
                }
            }
            >p {
                text-align: center;
                font-size: 12px;
                >span {
                    color: $bcolor5;
                    cursor: pointer;
                    &:hover {
                        color: $bcolor3;
                    }
                }
            }
        }
    }
}