@import '../../assets/base.scss';
#create {
    font-family: $font;
    min-width: 250px;
    .content-inner {
        padding-bottom: 10px;
        >h2 {
            text-align: center;
            margin: 10px 0;
        }
        >h4 {
            margin: 10px 0;
        }
        >p {
            text-align: end;
            margin: 5px 0;
            font-size: 14px;
            >span {
                color: #666;
            }
        }
        .switch-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 10px 0;
            .index-switch {
                cursor: pointer;
                display: inline-block;
                width: 60px;
                height: 30px;
                border-radius: 15px;
                background: #F56C6C;
                position: relative;
                margin-left: 0.5em;
                &::before {
                    transition: all 0.3s linear;
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    margin-top: -12px;
                }
                &.active {
                    background: #64C832;
                    &::before {
                        transition: all 0.3s linear;
                        left: 33px;
                    }
                }
            }
        }
    }
}