$bcolor1:#153641;
$bcolor2:#22556e;
$bcolor3:#4799b7;
$bcolor4:#6db3bf;
$bcolor5:#94cfc9;

$txtcolor1:#303133;
$txtcolor2:#606266;
$txtcolor3:#909399;
$txtcolor4:#c0c4cc;

$font:"Helvetica Neue", Helvetica, "PingFang SC",
"Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",
Arial, sans-serif;